@*@model List<Core.Entities.Athlet>*@ 

@model List<YoYo_Web_App.Dtos.AthletDto>

@{
    ViewData["Title"] = "Athlet";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
                <div class="row">
                    <div class="col col-sm-4">
                        <div id="controls" class="text-center" hidden>
                            <button id="playBtn" onclick="start();" type="button" class="btn btn-primary btn-lg rounded-pill mainBtn"><i class="fa fa-play" aria-hidden="true"></i></button>
                            <button id="pauseBtn" onclick="stop();" type="button" class="btn btn-primary btn-lg rounded-pill mainBtn"><i class="fa fa-pause" aria-hidden="true"></i></button>
                            <button id="restartBtn" onclick="restart();" type="button" class="btn btn-primary btn-lg rounded-pill mainBtn"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col text-center">
                        <p>Level <span id="currentShuttleLevelNumber"> 0</span> </p>
                        <p>Shuttle <span id="currentShuttleNumber"> 0</span> </p>
                        <p><span id="currentShuttleSpeed">0</span> km/h</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="progress" style="height: 10px;">
                            <div id="speed-level-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width:1%"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <div id="finishTestBtn" class="mt-2 text-center" hidden><button onclick='finishTest();' id="finishTestBtnEle" type="button" class="btn btn-outline-success btn-sm rounded-pill">Finish Test</button></div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col">
                        <p>Next <br /> Shuttle</p>
                        <p id="cdTimer">__:__</p>
                    </div>
                    <div class="col">
                        <p>Total <br /> Time</p>
                        <p id="timer" class="">__:__</p>
                    </div>
                    <div class="col">
                        <p>Total <br /> Distance</p>
                        <p><span id="currentTotalDistance">__</span> m</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row"> Athlets </div>
                @{
                    int sNo = 0;
                }
                @foreach (var item in Model)
                {
                    sNo++;
                    <hr />
                    <div class="row" id="athlet-@item.id">
                        <div class="col-8">
                            @sNo.   @item.name
                        </div>
                        <div class="col-2 btnAthlet-@item.id btnAthlet" hidden>
                            <button id="warnBtnAthlet-@item.id" onclick='warnAthlet("Athlet-@item.id", @item.id);' type="button" class="btn btn-outline-warning btn-sm rounded-pill">Warn</button>
                        </div>
                        <div class="col-2 btnAthlet-@item.id btnAthlet" hidden>
                            <button id="stopBtnAthlet-@item.id" disabled="disabled" onclick='stopAthlet("Athlet-@item.id", @item.id);' type="button" class="btn btn-outline-danger btn-sm rounded-pill">Stop</button>
                        </div>
                        <div class="col-4 finishedAthlet-@item.id" hidden> <select id="finishedAthlet-@item.id" onchange='athletResultChanged(@item.id, "finishedAthlet-"+@item.id)'></select></div>
                    </div>

                }
                <hr />
            </div>
        </div>
    </div>
</div>

